<h1>Funds Transfer</h1>
<strong>
    <marquee width="100%" direction="left" height="30%">
        Linking PAN with Aadhaar is mandatory! To avoid the restrictions on certain banking transactions and high TDS/TCS, please link your PAN with Aadhar. Know More.
        </marquee>
</strong>
<div *ngIf="!onHide">
    <router-outlet></router-outlet>
</div>
<div  *ngIf="onHide">
<mat-card><a href="#"><img style="width: 100%" src="../../assets/fund-transfer.jpg" /></a></mat-card>
<div class="mt-4">
    <strong>
        <h1>Select Transaction Type:</h1>
    </strong>
</div>

<div class="row">
    <div class="col-3">
        <mat-card>
            <img mat-card-image class="img-flex" src="../../assets/transfer-1.jpg">
            <a>
                <mat-card-subtitle>Transfer within the bank</mat-card-subtitle>
            </a>
            <a>
                <mat-card-subtitle>(Rs. 2 Lacs Onwards)</mat-card-subtitle>
            </a>
                <button mat-button color="primary">View Demo</button>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onClick()"  routerLink="/FundsTransfer/Statement">GO</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-3">
        <mat-card>
            <img mat-card-image class="img-flex" src="../../assets/transfer-2.jpg">
            <a>
                <mat-card-subtitle>IMPS P2A-Instant T/f</mat-card-subtitle>
            </a>
            <a>
                <mat-card-subtitle>(Virtual Account)</mat-card-subtitle>
            </a>
                <button mat-button color="primary">View Demo</button>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onClick()"  routerLink="/FundsTransfer/Statement">GO</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-3">
        <mat-card>
            <img mat-card-image class="img-flex" src="../../assets/transfer-3.jpg">
            <a>
                <mat-card-subtitle>Transfer to bank(NEFT)</mat-card-subtitle>
            </a>
            <a>
                <mat-card-subtitle>(for Credit Payment)
                </mat-card-subtitle>
            </a>
                <button mat-button color="primary">View Demo</button>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onClick()"  routerLink="/FundsTransfer/Statement">GO</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-3">
        <mat-card>
            <img mat-card-image class="img-flex" src="../../assets/transfer-5.jpg">
            <a>
                <mat-card-subtitle>Transfer to bank(RTGS)</mat-card-subtitle>
            </a>
            <a>
                <mat-card-subtitle>(IMPS- Account No.)</mat-card-subtitle>
            </a>
                <button mat-button color="primary">View Demo</button>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onClick()"  routerLink="/FundsTransfer/Statement">GO</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-3">
        <mat-card>
            <img mat-card-image class="img-flex" src="../../assets/transfer-4.jpg">
            <a>
                <mat-card-subtitle>Cardless Cash Withdrawal</mat-card-subtitle>
            </a>
            <a>
                <mat-card-subtitle>(Re. 1 Onwards)</mat-card-subtitle>
            </a>
                <button mat-button color="primary">View Demo</button>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onClick()"  routerLink="/FundsTransfer/Statement">GO</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>




<div class="mt-4">
    <strong>Note:</strong>
</div>
<mat-list class="mt-3">
    <mat-divider></mat-divider>
    <mat-list-item>The Bank shall not be responsible for fraudulent online transactions through improper disclosure of
        confidential details by you.</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>The Bank or its officials do not ask for the details of your Account / IPIN/ Password/ OTP via
        e-mail, sms or in person.</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>For details on safe NetBanking practices please
        <a href="#">click here</a>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>Third Party Transfer(TPT) limits include all transactions where funds are transferred from one
        account to another, within or outside the Bank.
    </mat-list-item>
    <mat-list-item>These transactions are NEFT/RTGS/IMPS, TPT within the Bank, selective online shopping websites, Visa
        CardPay,</mat-list-item>
    <mat-list-item> Third Party DD and eCMS. To know more about TPT, please to know more.</mat-list-item>
</mat-list>
</div>