<h1>Mini Statement</h1>
<strong>
    <marquee width="100%" direction="left" height="30%">
        Linking PAN with Aadhaar is mandatory! To avoid the restrictions on certain banking transactions and high
        TDS/TCS, please link your PAN with Aadhar. Know More.
    </marquee>
</strong>
<mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <mat-select placeholder="Select your option" name="action" (selectionChange)="onChange($event)">
        <mat-option *ngFor="let option of actions" [value]="option">
            {{option}}
        </mat-option>
    </mat-select>
</mat-form-field>

<table mat-table [dataSource]="dataSource" style="width:100%" *ngIf="dataSource.data.length > 0" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="narration">
        <th mat-header-cell *matHeaderCellDef> Narration </th>
        <td mat-cell *matCellDef="let element"> {{element.narration}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



</table>
<div *ngIf="dataSource.data.length === 0">
    <p>No Statement availble for selected dates..</p>
</div>