<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div mat-card-avatar class="example-header-image"></div>
      <div class="ml"><span>REPUBLIC BANK</span></div>
      <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon matTooltip="Account box">account_box</mat-icon>
    </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>