<div class="app-footer">
    <div class="row">
        <div class="col mt-2 text-left">
            <a href="#">Secure Banking</a>
        </div>
        <div class="col-8 mt-2">
            <p id="copyright">
                <span class="text-right far fa-copyright copyright-icon"></span> 2022 Republic Bank Limited. All Rights
                Reserved.
            </p>
        </div>
        <div class="col mt-2 text-right">
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</div>