<h1>BillPay & Recharge</h1>

<strong>
    <marquee width="100%" direction="left" height="30%">
        Linking PAN with Aadhaar is mandatory! To avoid the restrictions on certain banking transactions and high TDS/TCS, please link your PAN with Aadhar. Know More.
        </marquee>
    
</strong>
<marquee width="100%" direction="left" height="30%">
Mobile Recharge Feature Only Available. Site Under Construction.   
</marquee>
<div *ngIf="!onHide">
    <router-outlet></router-outlet>
</div>
<div *ngIf="onHide">
    <mat-card><a href="#"><img style="width: 100%" src="../../assets/bill-recharges.jpg"/></a></mat-card>
    <h2 class="mt-3">
        We have upgraded our BillPay & Recharge platform to offer you an enhanced experience.</h2>
        <mat-list role="list">
            <mat-list-item role="listitem"><strong>Over this new BillPay, you can now make online payments to over 260 billers across various categories including:
            </strong></mat-list-item>
            <a><mat-list-item (click)="onClick()" routerLink="/BillPay&Recharge/BillPayment" role="listitem">Electricity Bills.</mat-list-item></a>
            <a><mat-list-item (click)="onClick()" routerLink="/BillPay&Recharge/BillPayment" role="listitem">Telephone and Mobile Bills</mat-list-item></a>
            <a><mat-list-item (click)="onClick()" routerLink="/BillPay&Recharge/BillPayment" role="listitem">Prepaid DTH/ Mobile Connection/ Data Card Recharge</mat-list-item></a>
            <a><mat-list-item (click)="onClick()" routerLink="/BillPay&Recharge/BillPayment" role="listitem">Gas Bills</mat-list-item></a>
            <a><mat-list-item (click)="onClick()" routerLink="/BillPay&Recharge/BillPayment" role="listitem">Mutual Funds.</mat-list-item></a>
            <a><mat-list-item (click)="onClick()" routerLink="/BillPay&Recharge/BillPayment" role="listitem">Insurance Premiums.</mat-list-item></a>
            <a><mat-list-item (click)="onClick()" routerLink="/BillPay&Recharge/BillPayment" role="listitem">Subscriptions.</mat-list-item></a>
            <a><mat-list-item (click)="onClick()" routerLink="/BillPay&Recharge/BillPayment" role="listitem">Contribution to Charities.</mat-list-item></a>
            <a><mat-list-item (click)="onClick()" routerLink="/BillPay&Recharge/BillPayment" role="listitem">
                Add billers and pay your bills through the enhanced BillPay service, powered by BillDesk.</mat-list-item></a>
          </mat-list>



    <button mat-raised-button color="primary" (click)="onClick()" routerLink="/BillPay&Recharge/BillPayment">Continue</button>
</div>