<div>
    <mat-toolbar color="grey" style="margin-top: 60px;">
        <mat-toolbar-row>
            <button mat-button routerLink="/accounts"  class="example-spacer" matTooltip="Accounts">Accounts</button>
            <button mat-button routerLink="/FundsTransfer" class="example-spacer" matTooltip="Funds Transfer">Funds Transfer</button>
            <button mat-button routerLink="/BillPay&Recharge" class="example-spacer" matTooltip="BillPay & Recharge">BillPay & Recharge</button>
            <button mat-button routerLink="/Cards" class="example-spacer" matTooltip="Cards">Cards</button>
            <button mat-button routerLink="/MutualFunds" class="example-spacer" matTooltip="Mutual Fund">Mutual Fund</button>
            <button mat-button routerLink="/MiniStatement" class="example-spacer" matTooltip="Mini Statement">Mini Statement</button>
            <button mat-button routerLink="/Loans" class="example-spacer" matTooltip="Loans">Loans</button>
            <button mat-button routerLink="/Offers" class="example-spacer" matTooltip="Offers">Offers</button>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon matTooltip="log off" (click)="logout()">login</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>