<h1>Offers</h1>
<strong>
    <marquee width="100%" direction="left" height="30%">
        Linking PAN with Aadhaar is mandatory! To avoid the restrictions on certain banking transactions and high TDS/TCS, please link your PAN with Aadhar. Know More.
        </marquee>
</strong>
<div>
    <mat-card><a href="#"><img style="width: 100%" src="../../assets/offer-1.jpg"/></a></mat-card>
    <mat-card><a href="#"><img style="width: 100%" src="../../assets/offer-2.jpg"/></a></mat-card>
    <mat-card><a href="#"><img style="width: 100%" src="../../assets/offer-3.jpg"/></a></mat-card>
    <mat-card><a href="#"><img style="width: 100%" src="../../assets/offer-4.jpg"/></a></mat-card>
    <mat-card><a href="#"><img style="width: 100%" src="../../assets/offer-5.jpg"/></a></mat-card>
    <mat-card><a href="#"><img style="width: 100%" src="../../assets/offer-6.jpg"/></a></mat-card>
    <mat-card><a href="#"><img style="width: 100%" src="../../assets/offer-7.jpg"/></a></mat-card>
</div>
